
@import url(https://fonts.googleapis.com/css?family=Arvo:700);

/*@import url(https://fonts.googleapis.com/css?family=Lato:700);*/


html *
{
   /*font-family: 'Lato', sans-serif;  */
   font-family: 'Arvo', serif;
}

body {
	background-color: White;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 26px;  
  font-weight: 400; 

}

p {
	text-align: center;
  font-family: 'Lato', sans-serif; 
}

.homepage {

background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  position:relative;
  width:100%;
  
}





.table caption {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.table th, td {
    text-align: center;
}

.footerPush {
    height: 4em;
    clear: both;
}



.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-brand .navbar-brand {
	color: White;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: White;
}

  .navbar-default {
    background-color: #F93E99;
    border-color: #F93E99;
    margin-bottom: 0px;
}
.navbar .navbar-default
{margin-bottom: 0px;
  

}

  .navbar-default .navbar-nav > li > a {
   color: White; /*Change active text color here*/
    }
